{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  
{% endblock %}

                {% block body %}
  

                    <!--======  Start Hero Section  ======-->
                    <section class="agk-hero">
                        <!--=== Hero Wrapper One ===-->
                        <div class="hero-wrapper-two" >
                            <div class="shhape shape-one" style="padding-left: 10%;"><span><img class="rotate360" src="{{url_for('static',filename='assets/images/pages/shape/cookieshape1.png')}}" alt="Shape"></span></div>
                            <div class="shape shape-two"><span><img class="animate-float-bob-y"src="{{url_for('static',filename='assets/images/digital-agency/hero/shape/shape2.png')}}" alt="Shape"></span></div>
                            <div class="shape circle-one"><span></span></div>
                            <div class="shape circle-two"><span></span></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!--=== Hero Content ===-->
                                        <div class="hero-content">
                                            <h1>
                                                <span class="text-anm">Virtual Cookies</span>
                                                <span class="text-anm">Agency</span>
                                            </h1>
                                            <div class="pro">Pro</div>
                                            <div class="text-box pf_fadeup">
                                                <p>A <span>Virtual Cookies Agency</span> specializing in innovative web app design branding, and marketing solutions to elevate your business.</p>
                                                <div class="hero-button">
                                                    <a href="about.html" class="theme-btn style-one">
                                                        <span class="text-flip">
                                                            <span class="text">LEARN MORE</span>
                                                            <span class="text">LEARN MORE</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <ul class="service-list pf_fadeup">
                                            <li>
                                                <!--=== Iconic Box ===-->
                                                <a href="service-details.html" class="agenko-iconic-box style-one">
                                                    <div class="icon">
                                                        <i class="flaticon-cloud-computing"> </i>
                                                    </div>
                                                    <div class="content">
                                                        <h4 class="title">Website Design Service</h4>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <!--=== Iconic Box ===-->
                                                <a href="service-details.html" class="agenko-iconic-box style-one">
                                                    <div class="icon">
                                                        <i class="flaticon-web-development"><img src="{{url_for('static',filename='assets/images/logo_index_circle/download.jpg')}}" alt=""></i>
                                                    </div>
                                                    <div class="content">
                                                        <h4 class="title">Web Development Service</h4>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <!--=== Iconic Box ===-->
                                                <a href="service-details.html" class="agenko-iconic-box style-one">
                                                    <div class="icon">
                                                        <i class="flaticon-idea"></i>
                                                    </div>
                                                    <div class="content">
                                                        <h4 class="title">Brand Strategy Solutions</h4>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <!--=== Iconic Box ===-->
                                                <a href="service-details.html" class="agenko-iconic-box style-one">
                                                    <div class="icon">
                                                        <i class="flaticon-announcement"></i>
                                                    </div>
                                                    <div class="content">
                                                        <h4 class="title">Digital Marketing Solution</h4>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-8">
                                        <!--=== Hero Image Box ===-->
                                        <div class="hero-image style-one pf_fadeup">
                                            <img src="{{url_for('static',filename='assets/images/pages/shape/cenimg.png')}}" alt="Hero Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!--======  End Hero Section  ======-->
                    <!--======  Start Services Section  ======-->
                    <section class="agk-services gray-dark pt-130 pb-100">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    <!--=== Section Title ===-->
                                    <div class="section-title mb-65 pf_fadeup">
                                        <span class="sub-title">Our Services</span>
                                        <h2>Building Tomorrow's Digital 
                                            Experiences Today</h2>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="text-box mb-60 pf_fadeup">
                                        <p>Creating cutting-edge digital experiences that blend innovation and functionality to meet the evolving needs of tomorrow’s businesses and users</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--=== Card Item ===-->
                                    <div class="agenko-card-item style-one mb-30 pf_fadeup">
                                        <div class="card-title">
                                            <div class="sn-number">01</div>
                                            <h3 class="title">Website Development</h3>
                                        </div>
                                        <div class="content">
                                            <p>Business and corporate <span>web dashboard</span> focuses on creating intuitive, data-driven interfaces that enhance decision-making, streamline processes.</p>
                                        </div>
                                        <div class="card-button">
                                            <a href="service-details.html" class="theme-btn style-one">
                                                <span class="text-flip">
                                                    <span class="text">LEARN MORE</span>
                                                    <span class="text">LEARN MORE</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <!--=== Card Item ===-->
                                    <div class="agenko-card-item style-one mb-30 pf_fadeup">
                                        <div class="card-title">
                                            <div class="sn-number">02</div>
                                            <h3 class="title">E-commerce Solutions</h3>
                                        </div>
                                        <div class="content">
                                            <p>Comprehensive <span>e-commerce solutions</span> designed to optimize user experience, boost conversions, and streamline online transactions. Our tailored.</p>
                                        </div>
                                        <div class="card-button">
                                            <a href="service-details.html" class="theme-btn style-one">
                                                <span class="text-flip">
                                                    <span class="text">LEARN MORE</span>
                                                    <span class="text">LEARN MORE</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <!--=== Card Item ===-->
                                    <div class="agenko-card-item style-one mb-30 pf_fadeup">
                                        <div class="card-title">
                                            <div class="sn-number">03</div>
                                            <h3 class="title">Branding & Identity Design</h3>
                                        </div>
                                        <div class="content">
                                            <p>Crafting <span>unique branding</span> and identity designs that reflect your brand’s values, build recognition, and create a lasting impression on audiences</p>
                                        </div>
                                        <div class="card-button">
                                            <a href="service-details.html" class="theme-btn style-one">
                                                <span class="text-flip">
                                                    <span class="text">LEARN MORE</span>
                                                    <span class="text">LEARN MORE</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!--======  End Services Section  ======-->
                    <!--======  Start Project Section  ======-->
                    <section class="agk-project pt-130 pb-80">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    <!--=== Section Title ===-->
                                    <div class="section-title mb-60 pf_fadeup">
                                        <span class="sub-title">Our Work</span>
                                        <h2>Building Tomorrow's Digital 
                                            Experiences Today</h2>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="agk-button mb-60 float-lg-end pf_fadeup">
                                        <a href="projects.html" class="theme-btn style-one">
                                            <span class="text-flip">
                                                <span class="text">View All Work</span>
                                                <span class="text">View All Work</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!--=== Project Item ===-->
                                    <div class="agenko-project-item style-one mb-45 pf_fadeup">
                                        <div class="thumbnail">
                                            <img src="{{url_for('static',filename='assets/images/digital-agency/project/project1.jpg')}}" alt="Project Image">
                                            <div class="project-button">
                                                <a href="project-details.html"><i class="far fa-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="project-categories">
                                                <a href="#">Mobile App</a>
                                                <a href="#">UI/UX Design</a>
                                            </div>
                                            <h4 class="title"><a href="project-details.html">Medical Mobile Design & Development</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!--=== Project Item ===-->
                                    <div class="agenko-project-item style-one mb-45 pf_fadeup">
                                        <div class="thumbnail">
                                            <img src="{{url_for('static',filename='assets/images/digital-agency/project/project2.jpg')}}" alt="Project Image">
                                            <div class="project-button">
                                                <a href="project-details.html"><i class="far fa-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="project-categories">
                                                <a href="#">Mobile App</a>
                                                <a href="#">UI/UX Design</a>
                                            </div>
                                            <h4 class="title"><a href="project-details.html">Stacks Website Design & Coding</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!--=== Project Item ===-->
                                    <div class="agenko-project-item style-one mb-45 pf_fadeup">
                                        <div class="thumbnail">
                                            <img src="{{url_for('static',filename='assets/images/digital-agency/project/project3.jpg')}}" alt="Project Image">
                                            <div class="project-button">
                                                <a href="project-details.html"><i class="far fa-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="project-categories">
                                                <a href="#">Mobile App</a>
                                                <a href="#">UI/UX Design</a>
                                            </div>
                                            <h4 class="title"><a href="project-details.html">Financial & Wallet Website Design</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!--=== Project Item ===-->
                                    <div class="agenko-project-item style-one mb-45 pf_fadeup">
                                        <div class="thumbnail">
                                            <img src="{{url_for('static',filename='assets/images/digital-agency/project/project4.jpg')}}" alt="Project Image">
                                            <div class="project-button">
                                                <a href="project-details.html"><i class="far fa-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="project-categories">
                                                <a href="#">Mobile App</a>
                                                <a href="#">UI/UX Design</a>
                                            </div>
                                            <h4 class="title"><a href="project-details.html">Sales Management Mobile App Design</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!--======  End Project Section  ======-->
                    <!--======  Start Who We Section  ======-->
                    <section class="agk-who-we gray-dark pt-130 pb-70">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5">
                                    <!--=== Agk Content Box ===-->
                                    <div class="agk-content-box mb-50 pf_fadeup">
                                        <div class="section-title mb-30">
                                            <span class="sub-title">What We Are</span>
                                            <h2>Your Trusted Agency for Digital Success</h2>
                                        </div>
                                        <ul class="check-list style-one mb-40">
                                            <li><i class="flaticon-check"></i>Passionate Problem-Solvers For Your Business</li>
                                            <li><i class="flaticon-check"></i>Business & Financial Creative Innovators</li>
                                            <li><i class="flaticon-check"></i>Provide National Trusted Client-Centered</li>
                                            <li><i class="flaticon-check"></i>Perfect & Modern Work Results-Driven</li>
                                            <li><i class="flaticon-check"></i>National Client Meet & Collaborative Partners</li>
                                        </ul>
                                        <div class="agk-button">
                                            <a href="pricing.html" class="theme-btn style-one">
                                                <span class="text-flip">
                                                    <span class="text">LEARN MORE</span>
                                                    <span class="text">LEARN MORE</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <!--=== Agk Video Box ===-->
                                    <div class="agk-play-image-box mb-50 pf_fadeup">
                                        <div class="agk-image style-four">
                                            <img src="{{url_for('static',filename='assets/images/digital-agency/features/who1.jpg')}}" class="rounded-2" alt="Features">
                                            <div class="play-box">
                                                <a href="https://www.youtube.com/watch?v=PJK2253cVgc" class="video-popup"><i class="fas fa-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <!--=== Big Text ===-->
                                <div class="big-text text-center mt-80 pt-70">
                                    <h2 class="text-anm-two">DIGITAL MODERN AGENCY</h2>
                                </div>
                            </div>
                        </div>
                    </section><!--======  End Who We Section  ======-->
                   
                   
                    <!--======  Start Team Section  ======-->
                    <section class="agk-team">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--=== Section Title  ===-->
                                    <div class="section-title text-center mb-50 pf_zoomIn">
                                        <span class="sub-title">Our Team</span>
                                        <h2>Success Stories From Around the Globe</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <!--=== Team Item  ===-->
                                    <div class="agenko-team-item style-two mb-40 pf_fadeup">
                                        <div class="member-image">
                                            <img src="{{url_for('static',filename='assets/images/digital-agency/team/team1.jpg')}}" alt="Team image">
                                            <div class="hover-content">
                                                <ul class="social-link">
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4 class="title">Mr. David Liam</h4>
                                            <p class="position">CEO & Founder</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <!--=== Team Item  ===-->
                                    <div class="agenko-team-item style-two mb-40 pf_fadeup">
                                        <div class="member-image">
                                            <img src="{{url_for('static',filename='assets/images/digital-agency/team/team2.jpg')}}" alt="Team image">
                                            <div class="hover-content">
                                                <ul class="social-link">
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4 class="title">Miss Alex Mika</h4>
                                            <p class="position">CTA</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <!--=== Team Item  ===-->
                                    <div class="agenko-team-item style-two mb-40 pf_fadeup">
                                        <div class="member-image">
                                            <img src="{{url_for('static',filename='assets/images/digital-agency/team/team3.jpg')}}" alt="Team image">
                                            <div class="hover-content">
                                                <ul class="social-link">
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4 class="title">Mr. John Smith</h4>
                                            <p class="position">Developer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <!--=== Team Item  ===-->
                                    <div class="agenko-team-item style-two mb-40 pf_fadeup">
                                        <div class="member-image">
                                            <img src="{{url_for('static',filename='assets/images/digital-agency/team/team4.jpg')}}" alt="Team image">
                                            <div class="hover-content">
                                                <ul class="social-link">
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4 class="title">Jessika Joya</h4>
                                            <p class="position">Marketer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!--======  End Team Section  ======-->
                    {% block scripts %}
                    {% endblock %}
    
                 
            {% endblock %}
