
                
  
               {% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block head %}
  
{% endblock %}

                {% block body %}

                  
                   <!--====== Start Page Banner Section  ======-->
                 <!--====== End Page Banner Section  ======-->
                    <!--====== Start Agenko Team Section  ======-->
                    <section class="agenko-team pt-130 pb-85">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--=== Section Title ===-->
                                    <div class="section-title text-center mb-50 pf_fadeup">
                                        <span class="sub-title">Our Team</span>
                                        <h2>Meet the Minds Behind <br> the Mission</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <!--=== Agenko Team Item ===-->
                                    <div class="agenko-team-item style-four mb-35 pf_fadeup">
                                        <div class="member-image">
                                            <img src="{{url_for('static',filename='assets/images/pages/team/adhil.png')}}" alt="Member Image">
                                            <div class="hover-content">
                                                
                                            </div>
                                        </div>
                                        <div class="member-info text-center">
                                            <h4 class="title">Mr Anzil</h4>
                                            <span class="position">Designer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <!--=== Agenko Team Item ===-->
                                    <div class="agenko-team-item style-four mb-35 pf_fadeup">
                                        <div class="member-image">
                                            <img src="{{url_for('static',filename='assets/images/pages/team/adhil.png')}}" alt="Member Image">
                                            <div class="hover-content">
                                               
                                            </div>
                                        </div>
                                        <div class="member-info text-center">
                                            <h4 class="title">Mr Rinshaf</h4>
                                            <span class="position">Marketer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <!--=== Agenko Team Item ===-->
                                    <div class="agenko-team-item style-four mb-35 pf_fadeup">
                                        <div class="member-image">
                                            <img src="{{url_for('static',filename='assets/images/pages/team/adhil.png')}}" alt="Member Image">
                                            <div class="hover-content">
                                                
                                            </div>
                                        </div>
                                        <div class="member-info text-center">
                                            <h4 class="title">Mr Adhil</h4>
                                            <span class="position">Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <!--=== Agenko Team Item ===-->
                                    <div class="agenko-team-item style-four mb-35 pf_fadeup">
                                        <div class="member-image">
                                            <img src="{{url_for('static',filename='assets/images/pages/team/adhil.png')}}" alt="Member Image">
                                            <div class="hover-content">
                                              
                                            </div>
                                        </div>
                                        <div class="member-info text-center mb-35">
                                            <h4 class="title">Mr Swalih</h4>
                                            <span class="position">Developer</span>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </section><!--====== End Agenko Team Section  ======-->
                    <!--====== Start Join Team Section  ======-->
                    <section class="agenko-join-team pb-90">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7">
                                    <!--====== Agenko Big Text ======-->
                                    <div class="big-text mb-50 pf_fadeup">
                                        <span class="fill-text">Join Our</span>
                                        <span>Talented</span>
                                        <span>Team</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <!--====== Agenko Team Image ======-->
                                    <div class="agenko-team-image float-lg-end mb-30">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <div class="agenko-image mb-20 pf_fadeup pf_fadeup">
                                                    <img src="{{url_for('static',filename='assets/images/pages/team/webservice.png')}}" alt="">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="agenko-image mb-20 pf_fadeup pf_fadeup">
                                                    <img src="{{url_for('static',filename='assets/images/pages/team/webservice.png')}}" alt="">
                                                </div>
                                                <div class="agenko-image mb-20 pf_fadeup pf_fadeup">
                                                    <img src="{{url_for('static',filename='assets/images/pages/team/webservice.png')}}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!--====== End Join Team Section  ======-->
                
              
                    
                    {% block scripts %}
                    {% endblock %}
    
                 
            {% endblock %}
